*{
    margin: 0px;
    padding: 0px;

}
#navbar{
    display: flex;
    align-items: center;
    position: absolute;

    
}
body{
    font-family: 'Roboto Mono', monospace;
}
:root{
    --navbar-height:59px;
    
}
#logo{
    height: 59px;
    margin: 34px 10px;

}
#logo img{
    margin: -26px 6px;
    width: 174px;
    

}
#navbar ul{
    display: flex;
    font-family: 'Roboto Mono', monospace;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    

}
/* #navbar{
    
} */
#navbar ul li{
    /* background-color: red; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: black;
   background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 96px 221px;
    justify-content: center;
    align-items: center;
    height: 550px;
    font-family: 'Roboto Mono', monospace;
}
#home::before{
    content: "";
    background: url('../bg-1.jpg');
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}
#home h1{
    color: aliceblue;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
#home p{
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}
#services{
    margin: 34px;
    display: flex;
}
.serviceTag{
    text-align: center;
    font-size: 2.8rem;
}
.clientTag{
    text-align: center;
    font-size: 2.8rem;

}
#services .box{
    border: 2px solid brown;
    padding: 20px;
    margin: 15px;
    border-radius: 1.2rem;
    background-color: rgb(171, 216, 216);
    
}
#services .box img{
    height: 100px;
    margin: auto;
    display: block;
    
    
}
.client-item{
    padding: 24px;

}
#client{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client img{
    height: 200px;
}
#clientsSection{
    height: 606px;

}
#clientsSection::before {
    content: "";
    position: absolute;
    background-image: url("./bg.jpg");
    height: 78%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background-image: url("./bg-3.jpg") ;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
    text-align: center;

}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Roboto Mono', monospace;
    

}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;

}
.btn{
    padding: 2px 15px;
    border: 2px solid rgb(68, 0, 255);
    background-color: rgb(11, 142, 208);
    color: white;
    margin: 17px;
    border-radius: 1.2rem;
    cursor: pointer;

}
.contact-box
{
width: 100%;
padding: 0.5rem;

}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    border-radius: 9px;
    font-size: 1.1rem;
}

